/* --peach-puff: #FAD3B4ff;
--azure-x-11-web-color: #F1FBFDff; */

body {
    font-family: 'Barlow', sans-serif;
    line-height: 1.6em;
    background-color: #f5f5f5;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
}

/* NAVBAR */

.navbar {
    background-color: #fffffffc;
    box-shadow: 0px 3px 8px -4px #00000026;
}

.nav-item {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.logo img {
    max-width: 180px;
}

.navbar .navbar-nav .nav-item {
    position: relative;
}

.nav-item .nav-link {
    font-weight: 500;
    color: #1b1919;
}

.navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background-color: #c66;
    width: 0;
    height: 3px;
    margin: 0 auto;
    transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
}

@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

.nav-item .dropdown-item:hover {
    color: white;
    background-color: #c66;
}

#contact.nav-item .dropdown-item:hover {
    color: #000;
    background-color: transparent;
}

#contact .dropdown-item .fa {
    margin-right: 5px;
}


/* SLIDER */

.slide-content {
    position: relative;
}

.slide-content img {
    max-height: 90vh;
    border-radius: 2px;
}

.caption {
    position: absolute;
    top: 50%;
    left: 5%;
    height: auto;
    background: linear-gradient(rgba(9, 32, 50, 0.33), rgba(9, 32, 50, 0.351));
    border: 2px solid white;
    padding: 0.5rem;
}

.caption h1 {
    font-size: 4vw;
    margin-bottom: 0;
}

.caption p::before {
    content: "";
    width: 2vw;
    height: 2px;
    background-color: #c66c66;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
}

.caption p {
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 0;
}

/* WOMEN WEARS */
#women-wears {
    /* background-color: white; */
}

.intro {
    /* margin: 40px; */
    position: relative;
}

.intro h2 {
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1em;
    line-height: 2rem;

}

@media (max-width: 768px) {
    .intro h2 {
        font-size: 1rem;
    }
}

.intro h2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 10px auto;
    width: 50%;
    height: 2px;
    background-color: #c66;
    display: block;
    /* vertical-align: middle; */
}

/* .intro h3 {
    font-size: 1.5rem;
    letter-spacing: 0.3em;
    margin-top: 15px;
    margin-bottom: 50px;
} */

.product {
    letter-spacing: 1px;
    margin-top: 30px;
}

.product {
    background-color: #ffffff;
    text-align: center;
}

.product a {
    text-decoration: none;
}

.product .product-image {
    overflow: hidden;
    position: relative;
}

.product .product-image a.image {
    display: block;
}

.product .product-image img {
    width: 100%;
    height: auto;
}

.product .product-image .pic-1 {
    transition: 0.5s;
}

.product .product-image:hover .pic-1 {
    opacity: 0;
}

.product .product-image .pic-2 {
    opacity: 0;
    width: 100%;
    /* height: 100%; */
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.product .product-image:hover .pic-2 {
    opacity: 1;
}

.product .discount {
    color: #fff;
    background: #c66;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 30px;
    width: 50px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.product .cart {
    color: #000;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    padding: 4px 14px;
    opacity: 0.8;
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translate(-50%);
    /* bottom: 75px;
    transform: translate(-50%); */

    transition: 0.5s;
}

.product .cart:hover {
    opacity: 1;
    color: #fff;
    background: #c66;
}

.product:hover .cart {
    bottom: 110px;
}

.product .links {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: 0.5s;
    margin-bottom: 5px;
    opacity: 0;
}

.product:hover .links {
    opacity: 1;
    right: 10px;
}

.product .links li a {
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: block;
    background: #000;
    margin-bottom: 5px;
}

.product:hover li a:hover {
    color: #fff;
    background: #c66;
}

.product .content {
    padding: 12px;
}

.product .category {
    font-size: 17px;
    margin: 0 0 5px;
    display: block;
}

.product .category a {
    color: #999;
    transition: 0.5s;
    font-size: 14px;
}

.product .category a:hover {
    color: #555;
}

.product .title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 8px;
}

.product .title a {
    color: #444;
    transition: 0.5s;
}

.product .title a:hover {
    color: #c66;
}

.product .price {
    color: #c66;
    font-size: 17px;
    font-weight: 700;
}

.product .price span {
    color: #888;
    margin: 0 5px 0 0;
    font-size: 14px;
    font-weight: 300;
}

@media (max-width: 990px) {
    .product {
        margin: 0 0 30px;
    }
}


.owl-prev,
.owl-next {
    position: absolute;
    background-color: #cc66669b !important;
    top: 45%;
    width: 40px;
    height: 40px;
    color: white !important;
    border-radius: 100% !important;
    transition: 0.5s ease !important;
    font-size: 18px !important;
    font-weight: 600 !important;

}

.owl-prev:hover,
.owl-next:hover {
    background-color: #cc6666 !important;
}

.owl-next {
    right: 0;

}

.owl-prev {
    left: 0px;

}

/* CATEGORY */


#category {
    background-color: #ffffff;
}


#category .category-item {
    position: relative;
    margin: 1rem;
}

.category-item img {
    width: 100%;
}

.category-item .cat-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    color: white;
    text-align: center;
    background: linear-gradient(rgba(9, 32, 50, 0.33), rgba(9, 32, 50, 0.351));
    margin: auto 0;
    padding: 1rem;
}

.cat-caption .btn {
    background-color: white;
    color: black;
    border: solid #c66 2px;
    border-radius: 0;
    transition: 0.5s;
    letter-spacing: 3px;


}

.cat-caption .btn:hover {
    background-color: #C66;
    color: #ffffff;
    border: solid #c66 3px;
}

/* SERCICES */

#services .services-content p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    padding: 20px;
    margin-right: 0 auto;
    border-right: solid #c66 3px;
}

#services .services-image {}

#services .services-image img {
    width: 100%;
    height: 500px;
    border-radius: 50px 0 50px 0;
}

@media (max-width: 768px) {
    #services .services-content p {
        border-right: none;

    }
}


/* FOOTER */
#footer {
    background-color: #000;
    padding: 40px;
}

#footer .wrap1 {
    border-right: solid white 2px;

}

@media (max-width: 768px) {
    #footer .wrap1 {
        border-right: none;
    }
}

#footer .contact-footer {
    color: white;
    letter-spacing: 2px;
}

.contact-footer .fa {
    margin-right: 15px;
}

.social-links a {
    margin: 15px;
    color: white;
    font-size: 20px;
    background-color: #ffffff55;
    width: 50px;
    height: 50px;
    padding: 5px 10px;
    border-radius: 100%;
    text-decoration: none;

}


#footer .customer-service {
    color: white;
    letter-spacing: 2px;
}

.customer-service a {
    text-decoration: none;
    color: white;
}